tools/cpu-voyeur/release/*.dmg filter=lfs diff=lfs merge=lfs -text
tools/cpu-voyeur/release/*.zip filter=lfs diff=lfs merge=lfs -text
tools/cpu-voyeur/release/*.tar.gz filter=lfs diff=lfs merge=lfs -text
